@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto','Noto','sans-serif';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
	text-decoration: none;
}

a:visited{
    color: #000;
}

h3{
    font-weight: 500;
    margin: 10px;
    color: #6d6d6d;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 8vh;
    padding: 0 16px;
}

nav > *{
    display: flex;
    align-items: center;
}

#logo{
    width: 129px;
}

.search{
    display: flex;
    width: 600px; margin-right: 10px;
    border: 1px solid #ccc;
    height: 65%;
}

.search input{
    width: 92%;
    border-left: 1px solid #ccc;
    padding: 2px 10px;
}

.search input:active{
    outline: none;
}

.search button{
    width: 10%;
}

i{
    color: #606060;
}

.navigation > i{
    margin-right: 10px;
}

.searchbar{
    height: 100%;
}

.searchbar > button{
    width: 40px; height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.mainbody{
    display: flex;
    overflow: hidden;
    width: 100%; height: 92vh;
}

aside{
    width: 15%; padding-right: 10px;
    overflow-y: auto;
}

span{
    display: flex;
    align-content: center;
    align-items: center;
}

span:hover{
    background: #f9f9f9;
}

span i{
    padding: 10px;
}

section{
    border-bottom: #ccc solid 1px;
}

footer{
    color: #606060;
    margin: 10px;
}
footer span{
    display: inline;
    padding: 5px;
}

.sign-in{
    display: none;
}

.active{
    background: #f9f9f9;
    font-weight: 500;
}

.active:hover{
    background: #ccc;
}

.main-content{
    background: #f9f9f9;
    width: 85%; border-top: 1px solid #ccc;
}

.content{
    padding: 2% 3%;
	height: 100%;
	overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categorybar{
    background: white;
    height: 6%; display: flex;
    align-items: center;
}

.categorybar span{
    display: inline;
    background: #f9f9f9;
    padding: 6px 15px;
    margin: 5px 10px;
    border: solid 1px #ccc;
    border-radius: 25px;
}

.infoframe{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.infoframe img{
    width: 55px;
    height: 55px;
    border-radius: 100px;
}

.midsect{
    width: 85%;
    padding-left: 10px;
}

.infoframe i{
    display: none;
}

h6{
    font-size: 0.9rem;
    color: #606060;
}

.videocard{
    width: 24%; height: 38%;
	padding-bottom: 10px;
}

.videobox > img{
    width: 100%;
    height: 100%;
}

.videocard:hover i{
    display: block;
}

.time{
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    right: 1px; bottom: 8px;

}

.videobox{
    position: relative;
    width: 100%;
}

.videotitle{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.watch{
	background-color: #f9f9f9;
    justify-content: center;
    overflow-y: auto;
}

.morevideos{
    width: 25%;
    padding: 1%;
}

.suggestion{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.videocontent{
    width: 63%;
    padding: 1%;
}

.watchvideoarea{
    width: 100%;
    height: 70vh;
    background: rgba(0,0,0,0.9);
    position: relative;
    display: flex;
    justify-content: center;
}

.watchvideoarea img{
    height: 100%;
}

.toggles{
    width: 98%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    border-top: solid 3px #6d6d6d;
    padding: 10px 5px;
    color: white;
    background: #00000012
}

.wht{
    color: white;
}

.oneside{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.oneside > i{
    padding: 0 10px;
}

.videoinfo{
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
}

#moretoggles{
    display: flex;
    align-items: flex-end;
}

#moretoggles i{
    padding-left: 15px;
}

.autoplay{
    width: 40px;
    height: 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hashtags{
    color: #6cbef2;
}

.suggestion img{
    width: 170px;
    height: 105px;
    padding: 5px;
}

.subscribe{
    color: white;
    font-weight: 500;
    background-color: #aa0b0b;
    padding: 10px;
    font-size: 0.95em;
}

.yourcomment{
    display: flex;
    align-items: center;
}

.yourcomment img{
    height: 40px;
}

.yourcomment input{
    background: #f9f9f9;
    margin: 1px 15px;
    border-bottom: #ccc solid 1px;
    width: 95%;
    line-height: 2em;
    font-size: 1.2em;
}

.otherusercomment{
    display: flex;
    width: 100%;
    margin: 15px 0;
}

.otherusercomment img{
    height: 50px;
    padding: 5px;
}

.otherusercomment > div{
    width: 90%;
}

.react{
    width: 15%;
    display: flex;
    justify-content: space-around;
}